<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
        <link rel="stylesheet" href="/shared/base.css"> 
        <title>Wallet Verify</title>
        {% block headContents %}
            
        {% endblock %}
        
    </head>
    <body>
        
        {% block heading %}
        {% endblock %}

        {% block main %}
        {% endblock %}
    
    </body>

    {% block scripts %}
    {% endblock %}
</html>